@import url('https://fonts.googleapis.com/css2?family=Chilanka&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body, html {
  background: url('./images/bg.jpg') no-repeat center center/cover;
  font-family: 'Chilanka', cursive; 
}


.container {
  height: 100%;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 11px 10px rgba(81, 67, 21, 0.8);
}


.time-display {
  font-size: 4rem;
  text-align: center;
}

.day-month {
  font-size: 2rem;
  text-align: center;
}

.time-convert-btn {
  padding: 0.3rem;
}

.button {
  padding: 0.5rem;
  margin-top: 0.3rem;
  border-radius: 10px;
  font-weight: bold;
  text-shadow: 0px 11px 10px rgba(81, 67, 21, 0.8);
  cursor: pointer;
  background: url('./images/bg.jpg') no-repeat center center/cover;
  outline: none;
}