@import url('https://fonts.googleapis.com/css2?family=Chilanka&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url('/images/mona-eendra-vC8wj_Kphak-unsplash.jpg') no-repeat center center/cover;
  font-family: 'Chilanka', cursive;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  height: 100%;
  margin-top: 20vh;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 11px 10px rgba(81, 67, 21, 0.8);
}


.container>div {
  /* padding: 5px; */
  font-size: 2em;
}

.container>.time-display {
  font-size: 4.5em;
}